* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 1000;
}

.color-orange {
    color: #FD6E0A;
}

.btn
{
    padding: 8px 15px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}


/* main styles */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}


nav .menu li a:hover {
    color: #FD6E0A;
}

#banner {
    margin: 150px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#banner .banner-content {
    max-width: 600px;
    height: 510px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 800;
    color: #474747;
    margin-bottom: 5px;
    
}

#banner .banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
    line-height: 1.2;
    
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
    
}

#about {
    padding-top: 130px;

}

#about .about-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 125px 150px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-item p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

.about-info .info-item h4 {
    font-size: 18px;
    color: #181818;
}

#skills {
    padding-top: 130px;

}

#skills .skill-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* text-align: center; */
    /* background-color: #FFF8F3; */
    padding: 125px 150px;
}

#skills .skill-container .skill-box {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.skill-box .skill-card {
    padding: 20px 10px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: #00000020 0 6px 40px 0px;

}
.skill-card img {
    max-width: 44px;
    margin-bottom: 20px;

}

.skill-card h3 {
    font-size: 18px;
    color: #181818;
    margin-bottom: 30px;

}
.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 25px;
    text-align: left;
}